.comment-section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
  }
  .comment-section.expanded {
    max-height: 1000px; 
  }
  .icon-bg {
    background-color: #2E3791; 
    border-radius: 50%;
    padding: 0.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem; 
  }